@import 'normalize';

body {
  background-color: #ff5959;
}

body, p, blockquote, a {
  font-family: helvetica;
  color: #22313f;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #22313f;
}

a:hover, a:focus {
  border-bottom: none;
  color: rgba( 34, 49, 63, 0.7);
}

article h1 {
  margin: 0;
}

article p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;

  line-height: 1.6;
}

aside {
  background-color: #ffe66d;
  flex-basis: 25%;
  min-width: 300px;
}

img {
  border-radius: 50%;
  max-width: 150px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  width: 100%;
}

article {
  background-color: #fff;
  padding: 10%;
  margin: 8.33%;
}

nav {
  padding: 5% 10%;
  background-color: #fff;
  margin: 8.33%;

  a {
    font-size: 30px;
  }

  .meta-nav {
    display: block;
    text-transform: uppercase;
  }
}

b , strong {
  font-weight: 700;
}