@import 'normalize';

html {
  font-size: 62.5%;
}

body {
  background-color: #ff6b6b;
}

body:before {
    background-color: #ffe66d;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 29.4118%;
    z-index: 0;
}

a,
p,
body,
button,
input,
select,
textarea {
  color: #22313f;
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #22313f;
}

a:hover, a:focus {
  border-bottom: none;
  color: rgba( 34, 49, 63, 0.7);
}

article h1 {
  margin: 0;
  font-size: 3.9rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

article p, article a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 1.6;
  margin: 0 0 30px 0;
  font-size: 1.7rem;
}

aside {
  background-color: #ffe66d;
  float: left;
  margin-right: -100%;
  max-width: 413px;
  position: relative;
  width: 29.4118%;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  margin-top: 60px;
}

aside .bio {

  p, a {
    font-size: 1.4rem;
  }

  .home-nav {
    margin-top: 10px;
    text-align: center;
    display: block;
  }

  .home-nav a {
    font-size: 2.2rem;
    font-weight: 700;
    border-bottom: none;
  }

  img {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
}

.content {
  display: block;
  float: left;
  margin-left: 29.4118%;
  width: 70.5882%;
}

article {
  background-color: #fff;
  padding: 60px;
  margin: 60px;
}

nav {
  padding: 40px 40px;
  margin: 60px;
  background-color: #fff;

  a {
    font-size: 30px;
  }

  .meta-nav {
    display: block;
    text-transform: uppercase;
  }
}

b , strong {
  font-weight: 700;
}

.index {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    margin: 20px;
  }
}
.index a {
  font-size: 22px;
  font-weight: 700;
}