@import 'normalize';

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

body:before {
    background-color: #1d1e1f;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 29.4118%;
    z-index: 0;
}

a,
p,
body,
button,
input,
select,
textarea {
  color: #22313f;
  font-family: Helvetica, Arial, sans-serif, serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

b , strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #c6c8ca;
}

a:hover, a:focus {
  border-bottom: none;
  color: rgba( 34, 49, 63, 0.7);
}

article {
  background-color: #fff;
  padding: 0 50px 50px 50px;
  margin: 50px;

  p, a, li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 1.7rem;
  }

  p {
    margin: 0 0 30px 0;
  }

  ul, ol {
    padding-left: 20px;
  }

  h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  h2, h2 > a {
    margin: 0;
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  h3, h3 > a {
    margin: 0;
    font-size: 2.2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  blockquote {
    font-style: italic;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

}

aside {
  background-color: #1d1e1f;
  float: left;
  margin-right: -100%;
  max-width: 413px;
  position: relative;
  width: 29.4118%;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  margin-top: 60px;
}

aside .bio {

  p, a {
    font-size: 1.4rem;
    color: #fff;
  }

  .home-nav {
    margin-top: 10px;
    text-align: center;
    display: block;
  }

  .home-nav a {
    font-size: 2.2rem;
    font-weight: 700;
    border-bottom: none;
  }

  img {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
}

.content {
  display: block;
  float: left;
  margin-left: 29.4118%;
  width: 70.5882%;
}

nav {
  padding: 40px 100px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);

  a {
    font-size: 2.5rem;
    border-bottom: none;
    font-weight: 700;
  }

  .meta-nav {
    display: block;
    text-transform: uppercase;
    color: rgba( 34, 49, 63, 0.7);
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
  }
}

.index {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    margin: 20px;
  }
  a {
    font-size: 22px;
    font-weight: 700;
  }
}


@media all and (max-width: 960px) {
  aside {
    max-width: none;
    float: none;
    width: 100%;
    position: relative;
    margin: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  }

  .content {
    margin-left: 0;
    width: 100%;
    float: none;
  }

  body:before {
    display: none;
  }

  aside .bio {
    padding-top: 30px;
    padding-bottom: 30px;
    img {
      width: 80px;
    }
    .about-me {
      display: none;
    }
  }
}
@media all and (max-width: 736px) {
  article {
    margin: 5%;
  }

  nav {
    padding: 5%;
  }

  article {
    h1 {
      font-size: 2.8rem;
      margin-bottom: 2.8rem;
    }
  }

  nav {
    a {
      font-size: 2rem;
    }
  }
}

@media all and (max-width: 620px) {

  article {
    margin: 0;
    padding: 6%;
    p, a, li {
      font-size: 1.6rem;
    }
    p:last-child {
      margin-bottom:0;
    }

    h1 {
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }
  
  nav {
    padding: 25px 25px;
    margin: 0;
    a {
      font-size: 1.8rem;
    }
  }
}